#timeline-line{
    height:230px;
    width:9px;
    /* Firefox 3.6+ */
    background-image:-moz-linear-gradient(bottom, #FFFFFF 0%, #49c 20%, #49E 90%, #FFFFFF 100%);

    /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0%, 100%, from(#FFFFFF), color-stop(0.2, #49C), color-stop(0.9, #49E), to(#FFFFFF));

    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #49c 20%, #49E 90%, #FFFFFF 100%); 

    /* IE 10+ */
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #49c 20%, #49E 90%, #FFFFFF 100%);

    /* Opera 11.10+ */
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #49c 20%, #49E 90%, #FFFFFF 100%);

    /* Official Syntax */
    background-image: linear-gradient(bottom, #FFFFFF 0%, #49c 20%, #49E 90%, #FFFFFF 100%);
   
}
.timeline-circle{
width:13px;
height:13px;
border-radius:50%;
background:#555;
}
.timeline-circle:hover{
background:#333;
}

ul#timeline-list{
list-style-type:none;
}
#timeline-years{
position:absolute;
top:37px;
left:-34px;
}
.year-box{
position:relative;
left:18px;
top:-25px;
height:45px;
width:600px;
padding:2px;
border-radius:5px;
color:#444;
}
.year-box:hover{
background:#EEE;
color:#000;
}
.year{
position:absolute;
}
.education{
position:absolute;
left:65px;
width:340px;
}
.result{
position:absolute;
left:490px;
width:90px;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #333;
    position:relative;
    left:11px;
    top:0px;
    display:none;
}
.farrow{
	width: 0; 
	height: 0; 
	border-top: 8px solid #FFF;
	border-bottom: 8px solid #FFF;
	border-left: 8px solid #FFF;
    position:relative;
    left:11px;
    top:0px;
    display:block;
}
.circle{
position:absolute;
border-radius:50%;
border:2px solid #333;
}
#l1{
left:485px;
top:585px;
height:30px;
width:30px;
}
#l2{
left:475px;
top:575px;
height:50px;
width:50px;
}
#l3{
left:460px;
top:560px;
height:80px;
width:80px;
}
#l4{
left:440px;
top:540px;
height:120px;
width:120px;
}
#l5{
left:420px;
top:520px;
height:160px;
width:160px;
}
#l6{
left:400px;
top:500px;
height:200px;
width:200px;
}
.pie{
position:absolute;
height:200px;
width:200px;
border-radius:50%;
clip: rect(0px, 100px, 200px, 0px);
}
.slice{
position:absolute;
height:200px;
width:200px;
border-radius:50%;
clip: rect(0px, 200px, 200px, 100px);
}
#python .pie{
background-color:#567;
-moz-transform:rotate(50deg);
}
#php{
-moz-transform:rotate(50deg);
}
#php .pie{
background-color:#131;
-moz-transform:rotate(80deg);
}
